@mixin rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

@mixin link-colors($normal, $hover: $normal) {
  color: $normal;
  &:hover {
    color: $hover;
  }
}
